---
import { z } from "astro/zod";
import { TextInput } from "../components/common/TextInput";
import MainLayout from "../layout/MainLayout.astro";
import { Backend } from "../services/backend";

let error = "";
let linkSent = false;

const backend = new Backend();

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const entries = Object.fromEntries(formData.entries());

  const schema = z.object({
    email: z
      .string({ required_error: "Email is required" })
      .email("Invalid email"),
  });

  const payload = schema.safeParse(entries);

  if (payload.success) {
    try {
      await backend.requestPasswordReset(payload.data.email);
      linkSent = true;
    } catch (err: any) {
      if (err.message) {
        error = err.message;
      } else {
        console.error(err);
        error = "Something went wrong. Please try again later.";
      }
    }
  } else {
    error = payload.error.issues[0].message;
  }
}
---

<MainLayout>
  <div class="flex-1 flex items-center justify-center">
    <form class="space-y-4" method="POST">
      <div class="text-lg font-semibold text-center">Forgot Password</div>
      <div class="text-sm text-center mb-4">
        Type your email below and we'll send<br /> you a link to reset your password.
      </div>

      <TextInput
        label="E-mail"
        name="email"
        type="email"
        placeholder="Enter your email"
        required
      />

      <div class="text-error text-sm my-2">{error}</div>
      <button type="submit" class="btn btn-primary btn-wide">Send</button>
    </form>

    <dialog class="modal" open={linkSent}>
      <div class="modal-box">
        <h3 class="font-bold text-lg">Email sent!</h3>
        <p class="py-4">
          Open your email and click on the link to reset your password.
        </p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn btn-primary">Close</button>
          </form>
        </div>
      </div>
    </dialog>
  </div>
</MainLayout>
