---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <main
    class="container mx-auto text-center flex flex-col items-center space-y-4 px-2"
  >
    <h1 class="text-primary">My Resumes</h1>
    <h2 class="text-balance">
      Create impactful resumes for various job roles!
    </h2>
    <p class="max-w-md text-balance">
      Add your profile, experiences, and skills and share this details across
      multiple resumes, ensuring each one perfectly fits your specific job
      applications.
    </p>
  </main>
</MainLayout>
