---
import { z } from "astro/zod";
import { TextInput } from "../components/common/TextInput";
import Mainlayout from "../layout/MainLayout.astro";
import { Backend } from "../services/backend";

let error = "";
let passwordUpdated = false;

const backend = new Backend(Astro.locals.token);

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const entries = Object.fromEntries(formData.entries());

  const schema = z
    .object({
      currentPassword: z.string({
        required_error: "Current Password is required",
      }),
      newPassword: z
        .string({ required_error: "New Password is required" })
        .min(6, "All passwords must have at least 6 characters"),
      confirmNewPassword: z
        .string({ required_error: "Confirm New Password is required" })
        .min(6, "All passwords must have at least 6 characters"),
    })
    .refine(
      (data) => {
        return data.newPassword === data.confirmNewPassword;
      },
      { message: "Passwords do not match", path: ["confirmNewPassword"] }
    );

  const payload = schema.safeParse(entries);

  if (payload.success) {
    try {
      await backend.updatePassword({
        currentPassword: payload.data.currentPassword,
        newPassword: payload.data.newPassword,
      });
      passwordUpdated = true;
    } catch (err: any) {
      if (err.message) {
        error = err.message;
      } else {
        console.error(err);
        error = "Something went wrong. Please try again later.";
      }
    }
  } else {
    error = payload.error.issues[0].message;
  }
}
---

<Mainlayout>
  <div class="flex-1 flex items-center justify-center">
    <form class="flex flex-col items-center space-y-2" method="POST">
      <div class="text-lg font-semibold text-center">Update Password</div>
      <div class="text-sm text-center mb-4">
        Type your current password and new password.
      </div>

      <TextInput
        label="Current password"
        name="currentPassword"
        type="password"
        placeholder="******"
        required
      />

      <TextInput
        label="New password"
        name="newPassword"
        type="password"
        placeholder="******"
        required
      />

      <TextInput
        label="Confirm new password"
        name="confirmNewPassword"
        type="password"
        placeholder="******"
        required
      />

      <div class="text-error text-sm my-2">{error}</div>
      <button type="submit" class="btn btn-primary btn-wide">Update</button>
    </form>

    <dialog class="modal" open={passwordUpdated}>
      <div class="modal-box">
        <h3 class="font-bold text-lg">Password updated!</h3>
        <p class="py-4">Your password is updated.</p>
        <div class="modal-action">
          <form method="dialog">
            <a href="/resumes" class="btn btn-primary">Ok</a>
          </form>
        </div>
      </div>
    </dialog>
  </div>
</Mainlayout>
