---
import { EditEducation } from "../../../../components/education/EditEducation";
import { SetSharedEducations } from "../../../../components/education/SetSharedEducations";
import PdfPreviewBadge from "../../../../components/pdf/PdfPreviewBadge.astro";
import { ResumePdfPreview } from "../../../../components/pdf/ResumePdfPreview";
import ResumeLayout from "../../../../layout/ResumeLayout.astro";
import { Backend } from "../../../../services/backend";

const { id, educationId } = Astro.params;
if (!id || !educationId) return Astro.redirect("/404");

const backend = new Backend(Astro.locals.token);
const resume = await backend.getResume(id);
const education = await backend.getEducation(educationId);
---

<SetSharedEducations educations={[education]} client:load />

<ResumeLayout resume={resume}>
  <div class="edit-resume-boxes">
    <EditEducation resumeId={id} client:load />
    <div class="w-80 form-card relative">
      <PdfPreviewBadge />
      <ResumePdfPreview previewType="education" client:load />
    </div>
  </div>
</ResumeLayout>
