---
import { EditExperienceList } from "../../../components/experience/EditExperienceList";
import { SetSharedExperiences } from "../../../components/experience/SetSharedExperiences";
import PdfPreviewBadge from "../../../components/pdf/PdfPreviewBadge.astro";
import { ResumePdfPreview } from "../../../components/pdf/ResumePdfPreview";
import { SetSharedResume } from "../../../components/resume/SetSharedResume";
import ResumeLayout from "../../../layout/ResumeLayout.astro";
import { Backend } from "../../../services/backend";
import { sortExperiencesByNewestFirst } from "../../../services/types/Experience";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

const backend = new Backend(Astro.locals.token);
const resume = await backend.getResume(id);
const experiences = await backend.listUserExperiences();
sortExperiencesByNewestFirst(experiences);
---

<SetSharedExperiences experiences={experiences} client:load />
<SetSharedResume resume={resume} client:load />

<ResumeLayout resume={resume}>
  <div class="edit-resume-boxes">
    <EditExperienceList resumeId={id} client:load />
    <div class="w-80 form-card relative">
      <PdfPreviewBadge />
      <ResumePdfPreview previewType="experience" filterFromResume client:load />
    </div>
  </div>
</ResumeLayout>
