---
import PdfPreviewBadge from "../../../components/pdf/PdfPreviewBadge.astro";
import { ResumePdfPreview } from "../../../components/pdf/ResumePdfPreview.tsx";
import { SetSharedProfile } from "../../../components/profile/SetSharedProfile.tsx";
import { EditResume } from "../../../components/resume/EditResume.tsx";
import { SetSharedResume } from "../../../components/resume/SetSharedResume.tsx";
import ResumeLayout from "../../../layout/ResumeLayout.astro";
import { Backend } from "../../../services/backend";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

const backend = new Backend(Astro.locals.token);
const resume = await backend.getResume(id);
const profile = await backend.getUserProfile();
---

<SetSharedResume resume={resume} client:load />
<SetSharedProfile profile={profile} client:load />

<ResumeLayout resume={resume}>
  <div class="edit-resume-boxes">
    <EditResume resumeId={id} client:load />
    <div class="w-80 form-card relative">
      <PdfPreviewBadge />
      <ResumePdfPreview previewType="resume" client:load />
    </div>
  </div>
</ResumeLayout>
