---
import HeaderTab from "./HeaderTab.astro";
import UserAvatar from "./UserAvatar.astro";

const isHome = Astro.url.pathname === "/";
const isResumes = Astro.url.pathname === "/resumes";
const isAbout = Astro.url.pathname === "/about";

const { isAuthenticated } = Astro.locals;
---

<header class="navbar px-4 py-1 shadow mb-2">
  <div class="sm:flex-1"></div>
  <div
    class="flex-1 flex justify-start sm:justify-center items-center space-x-4"
  >
    <HeaderTab href="/" active={isHome}>Home</HeaderTab>
    {
      isAuthenticated && (
        <HeaderTab href="/resumes" active={isResumes}>
          Resumes
        </HeaderTab>
      )
    }
    <HeaderTab href="/about" active={isAbout}>About</HeaderTab>
  </div>
  <div class="flex-1 flex justify-end space-x-2">
    {
      isAuthenticated ? (
        <UserAvatar />
      ) : (
        <>
          <a class="btn btn-ghost" href="/login">
            Login
          </a>
          <a class="btn btn-primary" href="/signup">
            Signup
          </a>
        </>
      )
    }
  </div>
</header>
